.card {
  width: 280px;
  height: 200px;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  cursor: pointer;
}