@import '../../styles/vars';

.tariff-list {
  display: flex;
  flex-wrap: wrap;
}

.create-tariff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: transparentize($link-color, 0.5);
  border-radius: inherit;
  h2 {
    color: $link-color;
    font-size: 1.2em;
    text-align: center;
  }
}

